body{
    background-color: green;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.container{
    margin: auto;
    margin-top: 40px;
    background-color: white;
    height: 580px;
    width: 280px;
    padding:20px;
    border: none;
    border-radius: 5px;
}
.first_paragraph, h1{
    text-align: center;
    margin-top: 0px;
}
h1{
   font-weight: 500;
}
.first_paragraph{
    font-size:16px;
   font-weight: 300;
}


input{
    width: 98%;
    height: 30px;
    border: 2px groove;
    border-radius: 5px;
}
p{
    margin-bottom: 5px;
    font-size: 12px;
    font-style: initial;
    margin-top: 20px;
}

button{
    margin: 20px;
    margin-bottom: 0px;
    width:80%;
    height: 35px;
    background-color:  rgb(255, 140, 0);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    
}
.terms{
    font-size: 13px;
}

.last_paragraph{
text-align: center;
margin-right: 50px;
color: white;
font-size: 15px;
}

a{
    text-decoration: none;
    color: rgb(255, 140, 0);
}