* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
  margin: 1rem;
}

nav ul li {
  display: flex;
  justify-content: end;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin: 2rem;
}


.images {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "a a b b"
    "a a b b"
    "a a c c"
    "a a c c"
    "i i d d"
    "e e d d"
    "h h g g"
    "f f g g"
  ;
}

.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
  filter: brightness(200%);
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
  filter: contrast(200%)
}

.e {
  grid-area: e;
  filter: saturate(30%)
}

.f {
  grid-area: f;
  filter: grayscale(0.5);
}

.g {
  grid-area: g;
}

.h {
  grid-area: h;
}

.i {
  grid-area: i;
}