body{
    background-color: cornsilk;
}
h1{
    color: midnightblue;
}

@media(max-width:1200px) {
    body{
        background-color: rgb(243, 174, 14);
    } 
}

@media(max-width:992px) {
    body{
        background-color: rgb(211, 172, 92);
    } 
}

@media(max-width:768px) {
    body{
        background-color: rgb(217, 156, 33);
    } 
}
@media(max-width:576px) {
    body{
        background-color: rgb(242, 208, 142);
    } 
}
