@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;700&display=swap');

:root {
  --bg-color: lightblue;
  --bg-color-dark: #333;
  --text-color: white;
  --font: 'Shantell Sans', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right bottom, yellow, green);
  background-size: 400%;
  color: var(--text-color);
  font-family: var(--font);
  animation: newAnimation 5s infinite;
}

@keyframes newAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header,
footer {
  height: 100px;
  background-color: var(--bg-color-dark);
}

main {
  min-height: calc(100vh - 200px);
}

h1 {
  text-shadow: 0 0 5px yellow;
}

.box {
  height: 100px;
  width: 100px;
  background-color: blue;
  margin: 1rem;
  transition: all 0.3s;
  animation-name: cool;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  position: relative;
  z-index: 100;
}

@keyframes cool {
  from {
    transform: scale(50% 50%);
    background-color: green;
  }

  to {
    transform: scale(1 1);
    background-color: red;
  }

}

@keyframes cool {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(200px, 0);
  }

  50% {
    transform: translate(200px, 200px);
    background-color: aqua;
    border-radius: 50%;
  }

  75% {
    transform: translate(0, 200px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.box:hover {
  animation-play-state: paused;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/* .box:hover {
  transform: scale(2, 2);
  transform: skew(40deg, 20deg);
  transform: translate(200px, 200%);
  transform: rotate(45deg);
  transform: perspective(400px) rotateY(40deg);
} */

button {
  background-color: var(--bg-color);
  box-shadow: 0 0 5px #333;
  border: none;
  height: auto;
  background-color: radial-gradient(yellow red);
}

button:hover {
  filter: hue-rotate(45deg);
  box-shadow: 0 0 10px rgb(212, 219, 238);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

img {
  height: auto;
  width: 100%;
}

img:nth-child(2) {
  filter: blur(2px);
}

img:nth-child(3) {
  filter: brightness(2);
}


img:nth-child(4) {
  filter: contrast(200%);
}

img:nth-child(5) {
  filter: drop-shadow(16px 16px 20px skyblue);
}

img:nth-child(6) {
  filter: grayscale(50%);
}

img:nth-child(7) {
  filter: hue-rotate(90deg);
}

img:nth-child(8) {
  filter: invert(75%);
}

img:nth-child(9) {
  filter: opacity(25%);
}

img:nth-child(10) {
  filter: saturate(30%);
}

img:nth-child(11) {
  filter: sepia(100%);
}