* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: olivedrab;
}

/* practicing grid */

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px;
    row-gap: 0.5rem;
    margin: 2rem;
    justify-items: center;
    align-items: center;
}

img {
    width: 100%;
}

.example {
    display: grid;
    grid-template-areas: "a a a b"
        "c e e b"
        "d e e b"
        "f f f f "
    ;
}

.a {
    grid-area: a;
    background-color: blue;
}

.b {
    grid-area: b;
    background-color: green;
}

.c {
    grid-area: c;
    background-color: red;
}

.d {
    grid-area: d;
    background-color: skyblue;
}

.e {
    grid-area: e;
    background-color: brown;
}

.f {
    grid-area: f;
    background-color: purple;
}